*{
	box-sizing: border-box;
	outline: none;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #194450;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    float: left;
    width: 200px;
    height: 200px;
    background-color: #FF8882;
}

.clearfix{
    clear:both;
}